## NLTK

In [ ]:
# !pip install pandas
# !pip install numpy

Importing the Libraries

In [ ]:
import pandas as pd
import numpy as np

Getting the dataset from CoNLL

In [ ]:
df=pd.read_table('/content/drive/MyDrive/Datasets/train.txt', delimiter = ' ')
df.head()

  -DOCSTART-  -X- -X-.1       O
0         EU  NNP  B-NP   B-ORG
1    rejects  VBZ  B-VP       O
2     German   JJ  B-NP  B-MISC
3       call   NN  I-NP       O
4         to   TO  B-VP       O

In [ ]:
df.shape

(204566, 4)

In [ ]:
df.describe()

       -DOCSTART-     -X-   -X-.1       O
count      204563  204566  204566  202388
unique      23623      46      21       9
top             .     NNP    I-NP       O
freq         7374   34392   66645  168345

In [ ]:
df.columns

Index(['-DOCSTART-', '-X-', '-X-.1', 'O'], dtype='object')

removing the unwanted columns and naming the column

In [ ]:
df = df.drop(['-X-','-X-.1'],axis =1)
df.head()

  -DOCSTART-       O
0         EU   B-ORG
1    rejects       O
2     German  B-MISC
3       call       O
4         to       O

In [ ]:
df = df.rename(columns = {'-DOCSTART-':'text','O':'entity'})
df.head(10)

      text  entity
0       EU   B-ORG
1  rejects       O
2   German  B-MISC
3     call       O
4       to       O
5  boycott       O
6  British  B-MISC
7     lamb       O
8        .       O
9    Peter   B-PER

In [ ]:
print(df.entity.value_counts())

O         168345
B-LOC       7140
B-PER       6600
B-ORG       6321
I-PER       4528
I-ORG       3704
B-MISC      3438
I-LOC       1157
I-MISC      1155
Name: entity, dtype: int64

In [ ]:
df.shape

(204566, 2)

In [ ]:
df['entity_num'] = df.entity.map({'O':0,'B-LOC':1,'B-PER':2,'B-ORG':3,'I-PER':4,'I-ORG':5,'B-MISC':6,'I-LOC':7,'MISC':8})

In [ ]:
df.dtypes

text           object
entity         object
entity_num    float64
dtype: object

In [ ]:
df['entity_num'].describe()

count    201233.000000
mean          0.520104
std           1.376894
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           7.000000
Name: entity_num, dtype: float64

In [ ]:
df. isna(). sum(). sum()

5514

In [ ]:
df.dropna(inplace=True)
df.shape

(201230, 3)

In [ ]:
df.entity_num. isna(). sum(). sum()

0

In [ ]:
df.dtypes

text           object
entity         object
entity_num    float64
dtype: object

In [ ]:
cols = ['entity_num']
df[cols] = df[cols].applymap(np.int64)

In [ ]:
df['entity_num'].describe()

count    201230.000000
mean          0.520111
std           1.376902
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           7.000000
Name: entity_num, dtype: float64

In [ ]:
df.head(100)

          text  entity  entity_num
0           EU   B-ORG           3
1      rejects       O           0
2       German  B-MISC           6
3         call       O           0
4           to       O           0
..         ...     ...         ...
97   spokesman       O           0
98    Nikolaus   B-PER           2
99         van   I-PER           4
100        der   I-PER           4
101        Pas   I-PER           4

[100 rows x 3 columns]

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(df.text,df.entity_num,test_size=0.2,random_state = 267)

In [ ]:
x_train.shape

(160984,)

In [ ]:
y_test.shape

(40246,)

In [ ]:
df.dropna(inplace=True)
df.shape

(201230, 3)

Vectorizing the training and testing data

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

v= CountVectorizer()

x_train_cv = v.fit_transform(x_train)# .values
x_test_cv = v. transform(x_test)

x_train_cv

<160984x15930 sparse matrix of type '<class 'numpy.int64'>'
	with 134731 stored elements in Compressed Sparse Row format>

In [ ]:
x_train_cv.shape

(160984, 15930)

Fit the data in to to Multinomial Naive bayes

In [ ]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(x_train_cv,y_train)

MultinomialNB()

In [ ]:
from sklearn.metrics import classification_report

y_pred = model.predict(x_test_cv)

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.91      1.00      0.95     33669
           1       0.86      0.66      0.75      1426
           2       0.84      0.43      0.57      1297
           3       0.83      0.42      0.56      1251
           4       0.77      0.11      0.19       938
           5       0.70      0.15      0.25       749
           6       0.94      0.54      0.69       681
           7       0.90      0.22      0.35       235

    accuracy                           0.90     40246
   macro avg       0.84      0.44      0.54     40246
weighted avg       0.89      0.90      0.88     40246

In [ ]:
# from sklearn.naive_bayes import MultinomialNB
# from sklearn.pipeline import Pipeline
# from sklearn.metrics import classification_report
# from sklearn.feature_extraction.text import CountVectorizer


# clf = Pipeline([
#     ('vectorizer_bow', CountVectorizer()),
#      ("Multi NB",MultinomialNB())
# ])

# clf.fit(x_train, y_train)

# y_pred = clf.predict(x_test)

# print(classification_report(y_test,y_pred))